{% extends 'app/layout.html'%}
{% block title%} Удалить данные {% endblock%}
{% block content%}
  <h1 class="h1">Удалить данные</h1>
<!-- Код таблицы данных -->
<!-- edit.html --><div class="table-add">
  <!-- Код таблицы данных -->
<form  method="POST">
  {% csrf_token %}
    <table class="journal-table" id="journal-table">
    <div class="error-message" id="error-message"></div>
      <tr>
        <td class="filter-title" >Название издания</td>
        <td><input type="hidden" name="title" value="{{ Sciedit.title }}" required>{{ Sciedit.title }}</td>
      </tr>
      <tr>
        <td class="filter-title"  >ISSN</td>
        <td ><input type="hidden" name="issn" value="{{ Sciedit.issn }}">{{ Sciedit.issn }}</td>
      </tr>
      <tr>
        <td class="filter-title" >Импакт-фактор</td>
        <td><input type="hidden" name="if_value" value="{{ Iff.if_value }}" required>{{ Iff.if_value }}</td>
      </tr>
      <tr>
        <td class="filter-title" >База данных импакт-фактора</td>
        <td>{{ Iff.db }}</td>
      </tr>
      <tr>
        <td class="filter-title" >Год обновления импакт-фактора</td>
        <td><input type="hidden" name="year_if" value="{{ Iff.year }}" required>{{ Iff.year }}</td>
      </tr>
      <tr>
        <td class="filter-title" >Квартиль</td>

        <td>
          <select type="hidden" name="current_quartile" required style="background-color: #C8DFE8;border: none;">
  <option value="K1" {% if Quart.current_quartile == 'K1' %}selected{% endif %}>K1</option>
  <option value="K2" {% if Quart.current_quartile == 'K2' %}selected{% endif %}>K2</option>
  <option value="K3" {% if Quart.current_quartile == 'K3' %}selected{% endif %}>K3</option>
  <option value="Q1" {% if Quart.current_quartile == 'Q1' %}selected{% endif %}>Q1</option>
  <option value="Q2" {% if Quart.current_quartile == 'Q2' %}selected{% endif %}>Q2</option>
  <option value="Q3" {% if Quart.current_quartile == 'Q3' %}selected{% endif %}>Q3</option>
  <option value="Q4" {% if Quart.current_quartile == 'Q4' %}selected{% endif %}>Q4</option>
</select>
        </td>
      </tr>
      <tr>
        <td class="filter-title" >База данных квартиля</td>
        <td>
          <select type="hidden" name="db_quart" required style="background-color: #C8DFE8;border: none;">
  <option value="Scopus" {% if  Quart.db == 'Scopus' %}selected{% endif %}>Scopus</option>
  <option value="WoS" {% if  Quart.db == 'WoS' %}selected{% endif %}>WoS</option>
  <option value="РИНЦ" {% if  Quart.db == 'РИНЦ' %}selected{% endif %}>РИНЦ</option>
  <option value="ВАК" {% if  Quart.db == 'ВАК' %}selected{% endif %}>ВАК</option>
</select>
        </td>
      </tr>
      <tr>
        <td class="filter-title" >Год обновления квартиля</td>
        <td><input type="hidden" value="{{ Quart.year }}" name="year_quart" required>{{ Quart.year }}</td>
      </tr>
      <tr>
        <td class="filter-title" >Код специальности</td>
        <td><input type="hidden" name="code" value="{{ Specialty.code }}" required>{{ Specialty.code }}</td>
      </tr>
      <tr> <td class="filter-title" >Дата обновления специальности</td>
  <td>
    {% with formatted_date=Specialty.dat|date:"Y-m-d" %}
      <input type="hidden" name="dat"  value="{{ formatted_date }}" required>{{ formatted_date }}
    {% endwith %}
  </td>
</tr>
  </tr>

</table>
  <a href="/"><input type="submit" value="Удалить данные" style="background-color: #113E4E; color: white;padding: 10px 20px; font-weight: 600;position: absolute; left: 1145px;top: 500px; width: 170px;"></a>
    </form>
    </div>

{% endblock%}
